<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Plasma Donor App</title>
</head>
<body class="bg-dark">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-2 px-0 bg-danger">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 ">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4 fw-bold d-none d-sm-inline">Plasma Donor App</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="/dashboard" class="side-link nav-link align-middle px-0">
                            <i class="fa fa-dashboard text-white"></i><span class="ms-2 fs-5 d-none d-sm-inline text-white text-decoration-none">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/requester" class="side-link nav-link px-0 align-middle">
                            <i class="fa fa-handshake-o text-white"></i><span class="ms-2 fs-5 d-none d-sm-inline text-white text-decoration-none">Request</span></a>
                    </li>
                    <li>
                        <a href="/feedback" class="side-link nav-link px-0 align-middle">
                            <i class="fa fa-comment-o text-white"></i><span class="ms-2 fs-5 d-none d-sm-inline text-white text-decoration-none">Feedback</span> </a>
                    </li>
                    <li>
                        <a href="/about" class="side-link nav-link px-0 align-middle">
                            <i class="fa fa-info-circle text-white"></i><span class="ms-2 fs-5 d-none d-sm-inline text-white text-decoration-none">About</span> </a>
                    </li>
                    <li>
                        <a href="/" class="side-link nav-link px-0 align-middle">
                            <i class="fa fa-sign-out text-white"></i><span class="ms-2 fs-5 d-none d-sm-inline text-white text-decoration-none">Log out</span> </a>
                    </li>
                </ul>
                <h2>About</h2>
        </div>
        </div>
        <div class="col text-white">
            <main style="margin-top: 40px;">
            <h3>BATCH ID: B5-5M1E</h3><br>
            <h3>TEAM ID: PNT2022TMID23309 </h3>
            <hr>
            <p style="text-align: justify;">Plasma donation, also known as apheresis, can help save lives. It is a relatively safe procedure, 
                but there can be minor side effects. Plasma is the liquid part of the blood. It contains proteins 
                and antibodies that are crucial for clotting and immunity. Around 55% of the blood is plasma. 
                Plasma donation involves drawing blood, extracting the plasma, and returning what is left of 
                the blood to the person, all through a single needle that remains in the arm throughout the 
                process. Plasma is in high demand, as it helps treat cancer and other health issues. In May 
                2020, the Food and Drug Administration (FDA) asked people who had recovered from COVID-19 to donate plasma. Experts believe that the plasma may contain antibodies for SARS-CoV2, the virus behind the disease. Receiving plasma with these antibodies could help a person 
                fight off the infection. People with AB blood have a universal type of plasma, which means 
                that a person with any blood type can receive this plasma safely. This is different from having 
                the universal blood type, which is O negative. The American Red Cross urge people with AB 
                blood to donate plasma. A person can do this every 28 days, or up to 13 times a year. 
                Research shows that plasma donation is safe, and the National Institutes of Health 
                (NIH) emphasize that there is no risk of getting the wrong blood back. Also, the FDA and other 
                health authorities regulate the equipment and procedure of plasma donation. 
                However, a person who donates plasma may experience minor adverse effects, and as with 
                any other procedure involving a puncture, certain risks are involved. </p>
            <hr>
            <h3>TEAM MEMBER</h3><br>
            <h5>Gokul D | Kishore Balaji D | Kiran Balaji B | Noohu Nufais</h5>
            </main>
        </div>
    </div>
</div>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "56293b66-79ed-4a71-83d7-9201837404ec", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "8c07e4e9-d46a-4956-877b-b96827021637", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>   
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>